[submodule "lib/xpl"]
	path = lib/xpl
	url = https://github.com/tangentstorm/xpl.git
[submodule "lib/retro"]
	path = lib/retro
	url = https://code.google.com/p/retro-language/
[submodule "lib/linenoise"]
	path = lib/linenoise
	url = https://github.com/tangentstorm/linenoise.git

[submodule "lib/aggpas"]
	path = lib/aggpas
	url = git@github.com:tangentstorm/aggpasmod.git
[submodule "lib/zengl"]
	path = lib/zengl
	url = git@github.com:goldsmile/zengl.git
