[submodule "lib/xpl"]
	path = lib/xpl
	url = https://github.com/tangentstorm/xpl.git
[submodule "lib/retro"]
	path = lib/retro
	url = https://code.google.com/p/retro-language/
[submodule "lib/linenoise"]
	path = lib/linenoise
	url = git@github.com:tangentstorm/linenoise.git
