[submodule "lib/xpl"]
	path = lib/xpl
	url = git@github.com:tangentstorm/xpl.git 
[submodule "lib/retro"]
	path = lib/retro
	url = git@github.com:tangentstorm/retro.git
[submodule "lib/linenoise"]
	path = lib/linenoise
	url = git@github.com:tangentstorm/linenoise.git
[submodule "lib/aggpas"]
	path = lib/aggpas
	url = git@github.com:tangentstorm/aggpasmod.git
[submodule "lib/zengl"]
	path = lib/zengl
	url = git@github.com:goldsmile/zengl.git
