*~
*#
*.#*
*.o
*.ppu
*.pyc
*.exe
gen
app/backup
app/lib
library
pre/pre_gen.pas
./retro

run-tests.pas
fp___.*
fp.*
.directory
*.bak

# these link to ASSISTANTS.md
CLAUDE.md
GEMINI.md

# used for gemini key:
.env
b4i.b4x
